<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>
        <%= title %>
    </title>
   <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/alex">Alex</a></li>
        <li><a href="/kee">Kee</a></li>
        <li><a href="/deanna">Deanna</a></li>
        <li><a href="/erick">Erick</a></li>
    </ul>

    